.container
  .quiz-container
    - if @quizzes
      - @quizzes.each_with_index do |quiz, i|
        .quiz-content.quiz-bg
          .quiz-title
            Q.
            = i + 1
          .quiz-quiz
            = quiz.quiz
          .quiz-image
            = quiz.image
          .choices      
            - quiz.choices.shuffle.each do |c|
              - if c.correct == 0
                .judge-ichoice.ichoice{"data-id": "#{c.correct}"} 
                  .choice
                    = "#{c.text}" 
              - else
                .judge-cchoice.cchoice{"data-id": "#{c.correct}"}
                  正解は
                  .choice
                    = "#{c.text}" 
          .judge
            - if !Judge.exists?(user_id: current_user.id, quiz_id: quiz.id)
              .judge-good
                = link_to create_judge_quiz_path(quiz, 1), method: :post, class: 'judge-yet', data: {judge: 1} do
                  = fa_icon('thumbs-up')
              .judge-bad
                = link_to create_judge_quiz_path(quiz, 0), method: :post, class: 'judge-yet', data: {judge: 1} do
                  = fa_icon('thumbs-down')
.footer
  = link_to "次の10問", redirect_to: :back, class: "next"