.open 
  ＋詳しく見る
.modal
  .modal__head
    この中で人名由来で名前がついたものを選択してください
  .modal__inner
    - @images.shuffle.each_with_index do |image, i|
      .image-box
        .image{style: "background-image: url(#{image.image})", 'data-id' => "#{image.correct}", id: "#{i}"}
  .not-robot 
    %h2 私はロボットではありません
.clear.hidden
  クリア
.keshimas
  .keshimas__row
    .keshimas__row--box
      %p.keshimas-block 秋
    .keshimas__row--box
      %p.keshimas-block 意
    .keshimas__row--box
      %p.keshimas-block 心
    .keshimas__row--box
      %p.keshimas-block 地
  .keshimas__row
    .keshimas__row--box
      %p.keshimas-block 鮑
    .keshimas__row--box
      %p.keshimas-block 刀
    .keshimas__row--box
      %p.keshimas-block 気
    .keshimas__row--box
      %p.keshimas-block 質
  .keshimas__row
    .keshimas__row--box
      %p.keshimas-block 魚
    .keshimas__row--box
      %p.keshimas-block 煙
    .keshimas__row--box
      %p.keshimas-block 地
    .keshimas__row--box
      %p.keshimas-block 面
  .keshimas__row
    .keshimas__row--box
      %p.keshimas-block 草
    .keshimas__row--box
      %p.keshimas-block 乙
    .keshimas__row--box
      %p.keshimas-block 女
    .keshimas__row--box
      %p.keshimas-block 子
.button-area
  %button
    正解！

= form_with url: modal_quizzes_path do |f|
  = f.file_field :image
  = f.submit