.container
  .quiz-container
    - if @quizzes
      - @quizzes.each_with_index do |quiz, i|
        .quiz-content.quiz-bg
          .quiz-title
            Q.
            = i + 1
          .quiz-quiz
            = quiz.quiz
          .quiz-image
            = quiz.image
          
          .explanation.hidden
            .explanationch.hiddench
              正解！
            .explanationih.hiddenih
              残念！
            .explanationp
              = quiz.explanation
          .answer.hidden
            正解は↓
          .choices      
            - quiz.choices.shuffle.each do |c|
              - if !Mistake.exists?(user_id: current_user.id, quiz_id: quiz.id) && c.correct == 0
                .ichoice{"data-id": "#{c.correct}"} 
                  = link_to "#{c.text}", quiz_mistakes_path(quiz), method: :post, class: "addmistake choice" 
              - elsif c.correct == 0
                .ichoice{"data-id": "#{c.correct}"} 
                  .choice
                    = "#{c.text}" 
              - else
                .cchoice{"data-id": "#{c.correct}"}
                  .choice
                    = "#{c.text}" 
          .add-favorite.btn{"data-id": "#{quiz.id}"}
            - if !Favorite.exists?(user_id: current_user.id, quiz_id: quiz.id)
              = link_to "お気に入りに追加", quiz_favorites_path(quiz, current_user.id), method: :post, class:"addfavorite"
            - else
              = link_to "お気に入り解除", quiz_favorite_path(quiz, current_user.id), method: :delete, class: "removefavorite"
          - if request.url.include?('mistake')
            .remove-mistake.btn{"data-id": "#{quiz.id}"}
              = link_to "覚えた！", quiz_mistake_path(quiz, current_user.id), method: :delete, class:"removemistake"
.footer
  = link_to "次の10問", redirect_to: :back, class: "next"       