.container
  = form_for @choice do |f|
    .choice-form
      = f.text_field :quiz_id, placeholder: "quiz_id", type: "number"
      = f.text_field :text, placeholder: "選択肢"
      = f.text_field :correct, placeholder: "正解なら1不正解は0"
    = f.submit