.container
  .quiz-container
    - @favorites.each_with_index do |favorite, i|
      .quiz-content.quiz-bg
        .quiz-title
          Q
          = i + 1
        .quiz-quiz
          = favorite.quiz.quiz
          
        
        .explanation.hidden
          .explanationch.hiddench
            正解！
          .explanationih.hiddenih
            残念！
          .explanationp
            = favorite.quiz.explanation
        .answer.hidden
          正解は↓
        .choices      
          - favorite.quiz.choices.shuffle.each do |c|
            - if !Mistake.exists?(user_id: current_user.id, quiz_id: favorite.quiz.id) && c.correct == 0
              .ichoice{"data-id": "#{c.correct}"} 
                = link_to "#{c.text}", quiz_mistakes_path(favorite.quiz), method: :post, class: "addmistake choice" 
            - elsif c.correct == 0
              .ichoice{"data-id": "#{c.correct}"} 
                .choice
                  = "#{c.text}" 
            - else
              .cchoice{"data-id": "#{c.correct}"}
                .choice
                  = "#{c.text}" 
        .add-favorite.btn{"data-id": "#{favorite.quiz.id}"}
          - if !Favorite.exists?(user_id: current_user.id, quiz_id: favorite.quiz.id)
            = link_to "お気に入りに追加", quiz_favorites_path(favorite.quiz), method: :post, class:"addfavorite"
          - else
            = link_to "お気に入り解除", quiz_favorite_path(favorite.quiz), method: :delete, class: "removefavorite"

